{{/* <!-- // NAVIGATION --> */}}
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
<div class="container-fluid">
    <!-- <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> -->
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
    <svg height="auto" width="170" viewBox="0 0 209.99999 55" enable-background="new 0 0 841.9 595.3" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(.45116174 0 0 .45116174 -66.276115 -124.29551)"><path d="m274.9 341.3c-1.2-3.5-2.9-6.5-5.2-9.1-2.3-2.7-5-4.7-8.3-6.2-3.2-1.5-6.8-2.2-10.8-2.2-.2 0-.4 0-.7 0l10.1-18.3-12.6-5.7-6.8 20.1 9.1 3.9c-3.5.1-6.9.7-10.1 1.9-3.5 1.3-6.6 3.1-9.3 5.4-.3.3-.6.6-.9.9.1-.7.2-1.4.2-2.2 0-1-.1-2.2-.2-3.3-.4-1.2-1.1-2.3-1.9-3.1-.8-.9-1.8-1.6-2.9-2.1s-2.3-.9-3.5-1.2-2.4-.4-3.6-.4c-3.5 0-6.8.7-9.7 2.1-2.9 1.3-5.7 2.9-8.4 4.8l.2-9-39.4 8.6 21.8 5.9 3.6 34.1c-3.4 2-6.8 4.2-10.2 6.3-3.4 2-6.8 4.2-10.2 6.3l56.4-5.8-23.7-8.6c0-.4 0-1.3.1-2.7s.1-3.1.2-4.9c.1-1.9.1-3.8.2-5.8.1-2.1.1-3.9.2-5.6s.1-3.1.1-4.2c.1-1.2.1-1.8.2-1.9.7-2.1 1.8-3.9 3.2-5.4 1.5-1.5 3.4-2.3 5.8-2.3 1.3 0 2.4.4 3.1 1.2.7.7 1.5 1.5 2.2 2.5.7.9 1.7 1.7 2.8 2.5 1.1.7 2.7 1.1 4.7 1.1 1.4 0 2.7-.2 3.9-.7-.2.4-.5.8-.7 1.2-1.6 3.2-2.4 6.8-2.4 10.8 0 3.7.7 7.2 2.1 10.4 1.5 3.2 3.4 5.9 5.8 8.2 2.5 2.3 5.3 4.1 8.6 5.4s6.8 2 10.4 2c2.7 0 5.3-.4 8-1.1 2.7-.6 5.2-1.6 7.5-3 2.4-1.4 4.4-3.1 6.1-5.2s2.9-4.5 3.6-7.2c-1.3 1.3-2.8 2.4-4.4 3.4-1.7.9-3.4 1.6-5.2 2.2-1.9.6-3.7 1-5.6 1.3s-3.8.4-5.6.4c-3.8 0-7.2-.9-10.2-2.7s-5-4.7-5.8-8.5l39.7-.8v-1.4c.1-.5.1-.9.1-1.4 0-3.9-.6-7.6-1.7-10.9z"/><path d="m393.8 341.3c-1.2-3.5-2.9-6.5-5.2-9.1-2.3-2.7-5-4.7-8.3-6.2-3.2-1.5-6.8-2.2-10.8-2.2-.2 0-.4 0-.6 0l10-18.3-12.5-5.7-6.8 20.1 9.1 3.9c-3.5.1-6.9.7-10.2 1.9-3.5 1.3-6.6 3.1-9.3 5.4-2.6 2.3-4.8 5.1-6.4 8.3-1.3 2.6-2.1 5.5-2.3 8.6-.4-1-.8-2-1.4-2.8-1.6-2.4-3.7-4.4-6.2-5.8s-5.4-2.4-8.5-3c-3.1-.7-6.1-1-9.1-1s-6 .2-9.1.5c-3 .4-5.9 1-8.8 1.8l1.9-46.9-43.2 5.7 24.6 8 2.6 64-16.1 13 43.8-3.7c3.1-.2 6.4-.9 10-2.1 3.6-1.1 6.9-2.7 9.9-4.7 3-1.9 5.6-4.3 7.6-7.1 1.4-2 2.4-4.3 2.8-6.7.3 1.2.7 2.3 1.2 3.4 1.5 3.2 3.4 5.9 5.8 8.2 2.5 2.3 5.3 4.1 8.6 5.4s6.8 2 10.4 2c2.7 0 5.3-.4 8-1.1 2.7-.6 5.2-1.6 7.5-3 2.4-1.4 4.4-3.1 6.1-5.2s2.9-4.5 3.6-7.2c-1.3 1.3-2.8 2.4-4.4 3.4-1.7.9-3.4 1.6-5.2 2.2-1.9.6-3.7 1-5.6 1.3s-3.8.4-5.6.4c-3.8 0-7.2-.9-10.2-2.7s-5-4.7-5.8-8.5l39.7-.8v-1.4c.1-.5.1-.9.1-1.4 0-3.9-.6-7.6-1.7-10.9z"/><path d="m507.9 345.6 19.8 30.4-15.6 11.7 47.2-9-20-6.2-22-36.2 16.2-12.3 22.5-10.5h-50.2l15.4 9.2-20.7 17.6 1.2-43.5-38.7 2.9s-.1-.1-.1-.1c-.9-.9-2-1.7-3.3-2.2-1.2-.6-2.6-.9-4-.9s-2.8.3-4 .9c-1.2.5-2.3 1.2-3.3 2.2-.9.9-1.6 2-2.2 3.2-.5 1.2-.8 2.6-.8 4s.3 2.8.8 4.1c.5 1.2 1.3 2.3 2.2 3.3 1 .9 2.1 1.6 3.3 2.2 1.2.5 2.6.8 4 .8s2.8-.3 4-.8c1.3-.5 2.4-1.3 3.3-2.2.9-1 1.7-2.1 2.2-3.3.6-1.3.9-2.7.9-4.1s-.3-2.7-.9-4c-.2-.6-.5-1.1-.9-1.6l18.1 4.2 4.1 63.4-11.3 5.8-12.8-8.7 3.2-41.9h-33.3l.6-10.5-14.3-.1 2.5-24.4-8-.2c-.1 1.4-.4 2.8-.7 4.3-.4 1.4-.8 2.9-1.3 4.4s-1 2.9-1.7 4.3c-.6 1.4-1.3 2.6-2 3.8-.8 1.1-1.8 2.2-3 3.1s-2.5 1.6-3.9 2.3-2.8 1.2-4.3 1.6-2.9.6-4.3.7l-.4 7.7c1.8.2 3.5.4 5.2.6l5.3.4c-.4 6.4-.9 12.6-1.4 18.8s-1 12.4-1.5 18.7c-.1.6-.1 1-.1 1.5v1.5c0 2.6.3 5.2 1 7.5.7 2.4 1.7 4.4 3.1 6.2 1.5 1.7 3.3 3 5.4 4s4.6 1.5 7.5 1.5c2.7 0 5.2-.5 7.5-1.4s4.3-2.2 5.9-3.8c1.6-1.7 2.9-3.7 3.8-6s1.4-4.9 1.4-7.8c0-3-.4-6-1.2-9.1-.2 1.9-.6 3.8-1.3 5.8-.6 1.9-1.5 3.6-2.6 5.2s-2.5 2.9-4.1 3.9c-1.7 1-3.6 1.5-5.7 1.5-1.1 0-2-.2-2.8-.7-.8-.6-1.3-1.2-1.8-1.9s-.8-1.6-1-2.5-.3-1.9-.3-2.8c0-.3 0-.7.1-1s.1-.7.1-1c.6-6.2 1.2-12.4 1.8-18.5.6-6.2 1.2-8.3 1.7-14.5 3.2.3 6.6.9 9.7 1.2 3.2.2 1.6.1 4.8.4l.2-3.6 16.3 7.7 1.4 32.4-16.2 10.1 38.7.7-5.1 2.6 52.1-2.1-19.5-7.8.4-17.9z"/><path d="m603.5 346.3c0 4.5-1.1 8.3-3.4 11.4-2.2 3.1-5.1 5.6-8.6 7.5s-7.2 3.3-11.3 4.2c-4.1.8-8 1.3-11.7 1.3-3.6 0-7.5-.5-11.4-1.4s-7.5-2.3-10.8-4.3-6-4.5-8.1-7.5c-2.1-3.1-3.1-6.9-3.1-11.2 0-4.8 1.1-8.7 3.4-11.8s5.1-5.6 8.6-7.4 7.4-3.1 11.5-3.8c4.2-.7 8.3-1.1 12.2-1.1 3.6 0 7.3.5 11.1 1.4 3.9.9 7.5 2.3 10.6 4.3 3.3 1.9 5.9 4.4 7.9 7.4s3.1 6.7 3.1 11z"/></g></svg>  
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        {{/* <!-- // Navigation Collapse --> */ -}}
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <div class="d-flex">
        <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        {{- range .Site.Menus.main }}
        <li class="nav-item active"><a class="nav-link" aria-current="page" href="#">{{ .Name }}</a></li>
        {{ end }}
        </ul>
        </div>
        </div>
</div></nav>{{/* <!-- / navbar --> */}}
