<div class="card mb-5" style="width: auto;">
    <div class="card-body px-5 pb-5 pt-4">
    <a href="{{ .Permalink }}" class="stretched-link">
    <h4 class="card-title">{{ .Title }}</h4></a>
    <p class="card-text small">{{ .Summary  }}</p>
    </div>
</div>
