<div class="container-fluid overflow-hidden">
    <div class="card d-block mb-5">
    <div class="row gx-md-4">
        <div class="col-md-8">
        <img class="img-fluid" src="{{ .Params.cover_img }}"  alt="{{ .Title }}">
        </div>
        <div class="col-md-4 d-flex align-items-center">
        <div class="card-body pl-0">
            <a href="{{ .Permalink }}" class="stretched-link">
            <h2 class="card-title">{{ .Title }}</h2></a>
            <p class="card-text small">{{ .Summary  }}</p>
        </div>
        </div>
    </div>
    </div>{{/* <!-- // card --> */}}
</div>{{/* <!-- // container --> */}}
