button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

* { box-sizing: border-box; }
body { background-color: #333; min-height: 100vh; font-family: "Lato", sans-serif; }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 10vw;
}
h1 {
  color: #fff;
  opacity: 0.85;
  font-family: "Ultra", serif;
  font-size: 2rem;
  line-height: 0.9;
  font-weight: normal;
  text-shadow: 0.03em 0.03em rgba(21, 14, 100, 0.54);
}
main { height: 100vh; overflow-x: hidden; overflow-y: scroll; -ms-scroll-snap-type: y mandatory; scroll-snap-type: y mandatory; }

figure {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
          align-items: flex-end;
}
figure figcaption {
  color: #fff;
  text-shadow: 0.1em 0.1em #150e64;
  position: relative;
  padding: 1.25em 1.65em;
  border-radius: 4px 0 0 0;
  letter-spacing: 0.2em;
}
figure:first-of-type { margin-top: -100vh; }

#cover1 { background-image: url(https://source.unsplash.com/leD6747vf38/1600x900); }
#cover2 { background-image: url(https://source.unsplash.com/MJNuWswcAao/1600x900); }
#cover3 { background-image: url(https://source.unsplash.com/YYXzxWnvY9Y/1600x900); } 
#cover4 { background-image: url(https://source.unsplash.com/Rcu_GAYy8Tc/1600x900); }
#cover5 { background-image: url(https://source.unsplash.com/b2F8eWpMMPc/1600x900); }
#cover6 { background-image: url(https://source.unsplash.com/KZwm8D0nklY/1600x900); }
#cover7 { background-image: url(https://source.unsplash.com/HYkPSAWfsv0/1600x900); }
#cover8 { background-image: url(https://source.unsplash.com/SDrApmp4W-M/1600x900); }
