/* MODS of default Bootstrap */
body { padding-top: 7rem; } /* Space for Navigation */
a:link, a:visited { text-decoration: none;}
a:active, a:hover, a:focus { text-decoration: underline; outline: 0; }
a:active img, a:hover img, a:focus img { text-decoration: none; outline: 0; }
.card-body a:link, .card-body a:visited { color: #212529; }
.card, .card img { border-radius: 0; }
.figure-caption { font-family: sans-serif; font-size: 1rem; line-height: 1.1; }
.figure-caption a:link, .figure-caption a:visited { color: gray; }

/* BUGGY -- Put here if problème to solve */

/* ADDED styles */
blockquote { color: text; border-left: 6px solid; border-color: text; font-style: italic; padding-left: 1rem; }
h1, h2, h3, h4, h5, h6 { line-height: 1.1; margin-bottom: 0; font-family: sans-serif; }
.lead, .meta-byline { font-family: sans-serif; }
.meta-date { font-size: 1.2rem;}
.meta-byline { font-size: 1rem;}
.highlight { margin-top: 2em; margin-bottom: 3.5em; padding: 2em; padding-bottom: .5em; background-color: #eee; color: #909; font-size: 1rem; }
code { color: #909; font-size: 1rem; }

/* HELPERS global */
main.wrapper { overflow: hidden; margin: 0; width: 100%; max-width: 100%; }
.layout-sm { max-width: 600px; margin: 0 auto; }
.layout-md { max-width: 960px; margin: 0 auto; }
.layout-lg { max-width: 1140px; margin: 0 auto; }
.layout-xl { max-width: 1320px; margin: 0 auto; }
.layout-full { width: 100%; margin: 0 auto; }
.full, .align-full { margin-left: calc(50% - 50vw); width: 100vw; /*max-width: 1000%;*/ }
.wide, .align-wide { width: calc(100% + 20vw); position: relative; left: -10vw; /*max-width: 1000%;*/ }

/* To be Tested */
.align-full2 { width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; }
.text-allcap { text-transform: uppercase; font-size: 0.875em; } /* Same as native BS class "initialism" */

/* MODS: import from Bootstrap 4.5.3 */
.embed-responsive { position: relative; display: block; width: 100%; padding: 0; overflow: hidden; }
.embed-responsive::before { display: block; content: ""; }
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video { position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; }
.embed-responsive-21by9::before { padding-top: 42.857143%; }
.embed-responsive-16by9::before { padding-top: 56.25%; }
.embed-responsive-4by3::before { padding-top: 75%; }
.embed-responsive-1by1::before { padding-top: 100%; }

/* TYPOGRAPHY */
.article-content { font-family: "Texte Courant"; font-size: 1.45rem; }
.article-content h1 { font-family: "Raleway"; font-weight: 900; letter-spacing: -2px; line-height: .95; }
.article-content h1.subtitle { font-family: "Raleway"; font-weight: 100; letter-spacing: -2px; line-height: .95; }
.article-content h2, .article-content h3, .article-content h4,.article-content h5, .article-content h6 { font-family: "Raleway"; font-weight: 700; }
.article-content h2 { font-size: 1.5rem; margin-bottom: .75rem; }
.article-content h3 { font-size: 1.4rem; margin-bottom: .75rem; }

.card-body h2 { font-family: "Raleway"; font-size: 1.6rem; font-weight: 900; }
.card-body h4 { font-family: "Raleway"; font-size: 1.2rem; font-weight: 800; }
