<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Hugo {{ hugo.Version }}">
    {{/* <!-- Title -
      A modifier dans un template de page avec par exemple :
      {{ define "browser_title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}
    --> */}}
    <title>{{ block "browser_title" . }}{{ .Site.Title }}{{ end }}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    {{/* <!-- Please read: https://msdn.microsoft.com/en-us/library/ie/dn455106.aspx --> */ -}}
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml">

    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/styles/site.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/styles/custom.css">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
</head>
<body class="{{ .Kind }}-page {{ .Type }}-template{{ block "body_class" . }}{{ end }}">
{{ partial "site-header" . }}
    <main class="wrapper">
    {{ block "main" . }}{{- end }}
    </main>{{/* <!-- //wrapper --> */ -}}
{{/* <!-- En production passer à "partialCached" --> */ -}}
{{ partial "site-footer" . -}}
{{ partial "site/javascript" . -}}
</body>
</html>
