{{ define "browser_title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}
{{ define "body_class" }} test-class{{ end }}{{/* <!-- !!! Important !!! Mettre une espace avant le nom de la classe --> */}}
{{ define "main" }}
    <section class="layout-md">
    <div class="container-fluid overflow-hidden">

    <div>{{ .Title }}</div>
    {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}

    {{ range .Paginator.Pages }}

    <article>
    <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
    <div>{{ .Summary  }}</div>
    </article>

    {{ end }}
    {{- partial "navigation/pagination.html" . -}}

    </div><!-- // container -->
    </section>

<!-- //////////////////////////////////////////////////////////////////////// -->
    <div class="text-monospace text-muted border border-dark mt-5 p-2 layout-md">
    Template : {{print "layouts/_default/list.html" }}<br>
    Kind : {{ .Kind }} - Type : {{ .Type }}<br>
    Permalien : {{ .Permalink }}<br>
    Lien relatif : {{ .RelPermalink }}<br>
    </div><br><br><br><br><br>
<!-- //////////////////////////////////////////////////////////////////////// -->
{{ end }}{{/* <!-- // define "main" --> */}}
