{{ define "browser_title" }}{{ .Title }}{{ end }}
{{ define "body_class" }} test-class{{ end }}{{/* <!-- !!! Important !!! Mettre une espace avant le nom de la classe --> */}}
{{ define "main" }}

    <article class="article-content layout-sm">
    <header class="align-wide text-center py-5 px-3">
        <h1 class="display-3">{{ .Title }}</h1>
        {{ if .Param "subtitle" }}
        {{ partial "utilities/article-subtitle" . -}}
        {{ end }}
        {{ if .Param "summary" -}}
        {{ partial "utilities/article-summary" . -}}
        {{ end }}
        <div class="article-meta mt-4">
        {{ partial "utilities/article-author-list" . -}}
        {{ partial "utilities/article-date" . -}}
        </div>
    </header>

{{ partial "utilities/microtypo" .Content }}

    <footer>
    <div class="article-meta">
    {{ partial "utilities/article-tag-list" . -}}
    </div>
    </footer>
    </article>

<!-- //////////////////////////////////////////////////////////////////////// -->
    <div class="text-monospace text-muted border border-dark mt-5 p-2 layout-md">
    Template : {{ print "layouts/_default/single.html" }}<br>
    Kind : {{ .Kind }} - Type : {{ .Type }}<br>
    Permalien : {{ .Permalink }}<br>
    Lien relatif : {{ .RelPermalink }}<br>
    </div><br><br><br><br><br>
<!-- //////////////////////////////////////////////////////////////////////// -->
{{- end }}{{/* <!-- // define "main" --> */}}
