{{ define "browser_title" }}Test · {{ .Site.Title }}{{ end }}
{{ define "body_class" }}list-template {{ end }}
{{ define "main" }}
    <section class="layout-600">
    <div class="container-fluid overflow-hidden">

    <!-- <h1>{{ .Title }}</h1> -->
    {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}

    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////// -->

    <div>
        <h5 class="text-muted">Juste un paramètre de page</h5>
        <p>Sélection par un paramètre présent dans le Front Matter. <del>Remarque: donne le même résultat que la boucle suivante... pas d'affichage des article où le paramètre est à false.</del></p>
        <p>Option : <code>GroupByParam "test"</code></p>
        <div class="card mb-5 p-3" style="width: auto;">
        {{ range .Site.RegularPages.GroupByParam "test" }}
            {{ range  first 3 (.Pages.ByDate.Reverse) }}
                <h5>{{ .Title }}</h5>
                <p class="small">{{ .Summary }}</p>
            {{ end }}
        {{ end }}
        </div>
    </div>
    <hr>

    <!-- //////////////////////////////////////////////////////////////////////// -->

    <div>
        <del><h5 class="text-muted">Un paramètre de page validé</h5></del>
        <del><p>Sélection par un paramètre actif présent dans le Front Matter (true). Problème...</p>
        <p>Option : <code>GroupByParam "test" "false"</code></p></del>
        <div class="card mb-5 p-3" style="width: auto;">
        {{ range .Site.RegularPages.GroupByParam "test" "false" }}
            {{ range  first 3 (.Pages.ByDate.Reverse) }}
            <h5>{{ .Title }}</h5>
                <p class="small">{{ .Summary }}</p>
            {{ end }}
        {{ end }}
        </div>
    </div>
    <hr>

    <!-- //////////////////////////////////////////////////////////////////////// -->

    <div>
        <h5 class="text-muted">Les auteurs d'une section</h5>
        <p>Liste des auteurs présent dans une section déterminée (ici "articles").</p>
        <p>Option : <code>Site.Taxonomies.auteurs + $auteurs "Section" "articles"</code></p>
        <div class="card mb-5 p-3" style="width: auto;">
        {{ $auteurs := .Site.Taxonomies.auteurs }}
        {{ $auteursInSection := where $auteurs "Section" "articles" }}
        {{ $i := 0 }}
        {{ range $auteurPage := $auteursInSection }}
            {{- $auteur := $auteurPage.Page -}}
            {{- if gt $i 0 -}}, {{ end }}{{- $auteur.Title -}}
            {{- $i = add $i 1 -}}
        {{ end }}
        </div>
    <!-- Ref: https://discourse.gohugo.io/t/list-auteurs-from-one-section-taxonomy/28258/14 -->
    </div>
    <hr>

    <!-- //////////////////////////////////////////////////////////////////////// -->

    <div>
      <h5 class="text-muted">Tous les tags</h5>
      <p>Liste de tous les tags avec lien actif vers leur page et nombre d'occurences</p>
      <p>Option : <code>Site.Taxonomies.tags</code></p>
      <div class="card mb-5 p-3" style="width: auto;">
        <ul>
            {{ range .Site.Taxonomies.tags }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
      </div>
    </div>
    <!-- Ref:https://gohugo.io/templates/taxonomy-templates/#example-list-all-site-tags -->
    <hr>

    <!-- //////////////////////////////////////////////////////////////////////// -->

    <div>
    <h5 class="text-muted">Paramètres croisés Section+Tag</h5>
    <p>On sélectionne des articles dans une section déterminée et en même temps marqué avec un tag donné.</p>
    <p>Option : <code>Params.tags "art" + Section "article"</code></p>
    <div class="card mb-5 p-3" style="width: auto;">
    {{range .Site.Pages}}
        {{if in .Params.tags "art"}}
            {{if in .Section "article"}}

            <h5>{{ .Title }}</h5>
            <p class="small">{{ .Summary }}</p>

            {{else}}
                Nothing to do<br>
            {{end}}
        {{end}}
    {{end}}
    </div>
    </div>
    <hr>

    <!-- //////////////////////////////////////////////////////////////////////// -->



    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////// -->


<div class="text-monospace text-muted border border-dark mt-5 p-2">
Template : {{ print "layouts/_default/test-boucles.html" }}<br>
Kind : {{ .Kind }} - Type (section) : {{ .Type }}<br>
Permalien : {{ .Permalink }}<br>
Lien relatif : {{ .RelPermalink }}<br>
</div><br><br><br><br><br>

    </div><!-- / container -->
    </section>
{{ end }}
