<!DOCTYPE html>
<html lang="en" >
<head>
   <meta charset="UTF-8">
   <title>rébétiko - revue d’esthétique</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Ultra|Lato:400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "assets/styles/home_cover.css" | absURL }}" />
<link rel="shortcut icon" type="image/png" href="assets/images/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>
<body>
<main>
<header>
<h1>rébétiko</h1>
</header>
   <figure id="cover1"><figcaption>revue d’esthétique &#x2193;</figcaption></figure>
   <figure id="cover2"><figcaption>revue d’esthétique &#x2193;</figcaption></figure>
   <figure id="cover3"><figcaption>revue d’esthétique &#x2193;</figcaption></figure>
   <figure id="cover4"><figcaption>revue d’esthétique &#x2193;</figcaption></figure>
   <figure id="cover5"><figcaption>revue d’esthétique &#x2193;</figcaption></figure>
   <figure id="cover6"><figcaption>revue d’esthétique &#x2193;</figcaption></figure>
   <figure id="cover7"><figcaption>revue d’esthétique &#x2193;</figcaption></figure>
   <figure id="cover8"><figcaption>revue d’esthétique &#x2193;</figcaption></figure>
</main>
</body>
</html>
