<footer class="layout-full bg-light mt-5">  
{{ partial "navigation/menu-bottom" . }}
    <div class="site-credit small text-muted text-center mt-0 mb-5" style="margin-top: -3rem !important;">
    Site publié avec <a href="https://gohugo.io" class="link-secondary" target="_blank">Hugo</a>, Git et Gitlab
    </div>
</footer>
