        <div class="meta-date fst-italic">
        {{ $currentLang := site.Language.Lang -}}
        {{ if eq $currentLang "fr" -}}
        {{ $month_names := slice "janvier" "février" "mars" "avril" "mai" "juin" "juillet" "août" "septembre" "octobre" "novembre" "décembre" -}}
				{{ $month := sub .Date.Month 1 -}}
        Publié le <time class="meta-date" datetime="{{.Date.Format "2006-31-01"}}">{{ .Date.Day }} {{ index $month_names $month }} {{ .Date.Year }}</time>
        {{ else -}}
        Published on <time class="meta-date" datetime="{{.Date.Format "2006-31-01"}}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ end -}}
        </div>
