{{/* <!-- Add a copy entry in Front Matter https://damien.co/tips/2020-07-11-creative-commons/ --> */ -}}
{{ with .Params.copy }}
{{ if eq .Params.copy "cc-anc" }}
    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
    Creative Commons Attribution-NonCommercial 4.0 International License</a>
{{ else if eq .Params.copy "cc-ancsa" }}
    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
    Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
{{ end }}
© Copyright
{{ end }}
