<figure class="figure mt-3 mb-3{{ with .Get "class" }} {{ . }}{{ end }}">
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <img src="{{ .Get "src" }}" class="figure-img img-fluid"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
         {{- with .Get "width" }} width="{{ . }}"{{ end }}{{ with .Get "height" }} height="{{ . }}"{{ end }}> <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption class="figure-caption text-center ps-1 pe-1">
            {{ with (.Get "title") }}<h4>{{ . }}</h4>{{ end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}
            <p>{{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}<a href="{{ . }}">{{ end -}} 
                <span class="small text-uppercase"> {{ .Get "attr" | markdownify }}</span>{{ if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
