{{/* Format: 21by9, 16by9, 4by3, 1by1 */}}
{{ if .IsNamedParams }}
<div class="embed-responsive {{ with .Get "size" }}embed-responsive-{{ . }}{{ end }}">
<iframe
    class="embed-responsive-item" sandbox="allow-same-origin allow-scripts allow-popups"
    src="https://indymotion.fr/videos/embed/{{ .Get "id" }}?title=0&warningTitle=0{{ with .Get "subtitle" }}&subtitle={{ . }}{{ end }}"
    allowfullscreen>
</iframe>
</div>
{{ else }}
<div class="embed-responsive embed-responsive-{{ .Get 1 }}">
<iframe
    class="embed-responsive-item" sandbox="allow-same-origin allow-scripts allow-popups"
    src="https://indymotion.fr/videos/embed/{{ .Get 0 }}?title=0&warningTitle=0"
    allowfullscreen>
</iframe>
</div>
{{ end }}
