{{- $pc := .Page.Site.Config.Privacy.Vimeo -}}
{{ if .IsNamedParams }}<div {{ if .Get "class" }}class="{{ .Get "class" }}"{{ else }}style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;"{{ end }}>
<iframe
    src="https://player.vimeo.com/video/{{ .Get "id" }}?title=0&byline=0&portrait=0&dnt=1"
    {{ if not (.Get "class") }}style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" {{ end }}
    {{ if .Get "title"}}title="{{ .Get "title" }}"{{ else }}title="Vimeo video"{{ end }}
    webkitallowfullscreen mozallowfullscreen allowfullscreen>
</iframe>
</div>
{{ else }}
<div {{ if gt (len .Params) 1 }}class="{{ .Get 1 }}"{{ else }}style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;"{{ end }}>
<iframe
    src="https://player.vimeo.com/video/{{ .Get 0 }}?title=0&byline=0&portrait=0&dnt=1"
    {{ if len .Params | eq 1 }}style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" {{ end }}
    {{ if len .Params | eq 3 }}title="{{ .Get 2 }}"{{ else }}title="Vimeo video"{{ end }}
    allowfullscreen>
</iframe>
</div>
{{ end }}
